/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FEFBD8;
    margin:90px 0px;
    padding:0px;
    text-align:center;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    max-width: 290px;
    margin: 0 auto;
    padding: 20px;
    background-color:pink;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form   
 styles */
form {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color:rgb(209, 138, 138);
    font-family: "montserrat"; /* Specify the desired font */
    font-size: 50px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

.input-box {
    position: relative;
    margin-bottom: 10px;
    padding: 5px; 

}

.input-box input {
    display: flex;
    justify-content: space-between; /* Adjust spacing between elements */
    padding: 10px; /* Add padding around the elements */
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    width: 20px; /* Adjust the width of the icon */
    height: 20px;
    margin-right: 10px; /* Add margin to the right of the icon */
}

.input-box input[type="password"]:focus + i {
    opacity: 100; /* Adjust the opacity value as needed */
    transition: opacity 0.2s ease-in-out; /* Add a transition effect */
  }

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap:15px;
}

.options label {
    font-size: 14px;
}

.options a {
    color: #8a6f6f;
    text-decoration: none;
    text-decoration: underline;
    color: blue;
}

.btn {
    background-color: rgb(177, 114, 75);
    color: #fff;
    border: none;
    padding: 10px 100px;
    border-radius: 50px;
    cursor: pointer; 
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.forgot-password-link a {
    color: rgb(44, 39, 74);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
}
